// Import Material Theme
@use '@angular/material' as mat;
@include mat.core();

// Define Custom Theme   Colors
$primary-color: mat.define-palette(mat.$blue-palette, 500);
$accent-color: mat.define-palette(mat.$amber-palette, A200);
$warn-color: mat.define-palette(mat.$red-palette, 600);

$theme: mat.define-light-theme((color: (primary: $primary-color,
                accent: $accent-color,
                warn: $warn-color,
            )));

@include mat.all-component-themes($theme);


// Tram Table Styling
.mat-table {
    background: white;
    border-radius: 8px;
    overflow: hidden;

    .mat-header-row {
        background: mat.get-color-from-palette($primary-color);
        color: white;
    }

    .mat-row {
        &:hover {
            background: #f5f5f5;
        }
    }
}

 // Service Announcements
.alert {
    padding: 1rem;
    border-radius: 6px;
    background: mat.get-color-from-palette($warn-color, lighter);
    color: mat.get-color-from-palette($warn-color, default);
    font-weight: 500;
    margin-top: 1.5rem;
}

h2 {
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // max-width: 1000px;
    margin: auto;
    padding: 20px;
    padding-bottom: 50px;
}

.left-panel {
    width: 30%;
    text-align: start;
    margin-left: 20ox;
    min-height: 600px;
    // overflow-y: auto;
}

.right-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mapContainer {
    width: 100%;
    height: 400px;
    min-height: 400px;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    position: relative;
}

.mat-header-cell {
    background: #007bff !important;
    color: white;
    font-weight: bold;
}

.mdc-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

.map-card {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.cdk-table {
    margin-top: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #040380;
    color: white;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

/* 📜 Scrolling Announcements */
.announcement {
    display: inline-block;
    white-space: nowrap;
}

.scrolling-text {
    display: inline-block;
    animation: scrollText 20s linear infinite;
}

/* 🔄 Keyframe Animation */
@keyframes scrollText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}